@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600;1,700&family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #2c786c;
    color: #faf5e4;
    font-family: 'Josefin Sans', sans-serif;
}

header h1 {
    padding: 20px 0;
    font-size: 30px;
    line-height: 35px;
}

header a {
    text-decoration: none;
    padding: 8px 15px;
    font-size: 20px;
    line-height: 35px;
    background-color: #faf5e4;
    border-radius: 10px;
    position: fixed; 
    top: 10px;
    right: 10px;
    color: #004445;;
}

h2 {
    margin-top: 20px;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 49px 50px;
}

main div img{
    width: 400px;
    height: 480px;
    object-fit:contain;
    cursor: pointer;
    user-select: none;
    padding: 15px;
}

.closed {
    display: none;
}

.open {
    display: none;
}

.active {
    display: block;
}

footer {
    background-color: #2c786c;
    color: #faf5e4;
    padding: 20px 0;
    font-size: 20px;
    line-height: 25px;
}

footer a {
    text-decoration: none;
    color: #faf5e4;
    transition: all 200ms ease-in-out;
}

footer a:hover {
    color: #f7e8b8;
}


@media only screen and (max-width: 820px) {
    main {
        flex-direction: column;
        padding: 0 50px;
        margin: 0 50px;
    }
  }